aiodns==2.0.0
aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
autopep8==1.5.4
beautifulsoup4==4.9.2
bleach==3.2.1
bolsa @ file:///Users/giovannicornachini/ProjetosAsyncIO/bolsa/dist/bolsa-0.0.1-py3-none-any.whl
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
docutils==0.16
flake8==3.8.3
idna==2.10
iniconfig==1.0.1
isort==5.5.3
keyring==21.4.0
mccabe==0.6.1
multidict==4.7.6
mypy==0.782
mypy-extensions==0.4.3
packaging==20.4
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.9.0
pycares==3.1.1
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.7.1
pyparsing==2.4.7
pytest==6.1.0
pytest-aiohttp==0.3.0
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
tqdm==4.49.0
twine==3.2.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
webencodings==0.5.1
yarl==1.6.0
